<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" rel="text/css" href="css/main.css" />

    <!-- Compiled and minified CSS -->
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="section"></div>
        <main>
          <div class="center">
            <div class="container">
              <div
                class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row"
                style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 200px; solid #EEE;width: 500px;"
              >
                <div class="section"></div>
                <div class="section"></div>
                <h3 class="left">Sign Up</h3>
                <br />
                <br />
                <hr />
                <div class="section">
                  <i class="mdi-alert-error red-text"></i>
                </div>

                <form action="/signup" method="POST">
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        class="validate"
                        type="text"
                        name="username"
                        id="username"
                        required
                      />
                      <label for="email">Username</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        class="validate"
                        type="email"
                        name="email"
                        id="email"
                        required
                      />
                      <label for="email">Email</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col m12">
                      <input
                        class="validate"
                        type="password"
                        name="password"
                        id="password"
                        required
                      />
                      <label for="password">Password</label>
                    </div>
                    <label style="float: right;">
                      <a><b style="color: #f5f5f5;">Forgot Password?</b></a>
                    </label>
                  </div>

                  <div class="row">
                    <div class="input-field col m12">
                      <input
                        class="validate"
                        type="password"
                        name="confirm_password"
                        id="confirm_password"
                        required
                      />
                      <label for="confirm_password">Confirm Password</label>
                    </div>
                    <label style="float: right;">
                      <a><b style="color: #f5f5f5;">Forgot Password?</b></a>
                    </label>
                  </div>

                  <div class="center">
                    <p class="center">
                      Have account? <a href="/login">Login</a>
                    </p>
                    <br />
                    <div class="row">
                      <button
                        style="margin-left: 110px; margin-bottom: 30px;"
                        type="submit"
                        name="btn_signup"
                        id="submitBtn"
                        class="col s6 btn btn-small white black-text waves-effect z-depth-1 y-depth-1"
                      >
                        Sign Up
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"
    ></script>
    <script type="text/javascript" src="js/js.js"></script>
  </body>
</html>
